body {
    background: linear-gradient(135deg, #1e1e2f, #11121a);
    font-family: 'Segoe UI', sans-serif;
    
  }
  
  .card {
    backdrop-filter: blur(12px);
  }
  
  .btn:hover {
    transform: scale(1.03);
    transition: 0.2s ease-in-out;
    opacity: 0.95;
  }
  